<a href="https://colab.research.google.com/github/imabari/tsukuba-kdb/blob/main/tsukuba_kdb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pathlib
import json

In [2]:
import pandas as pd
import requests

In [3]:
def fetch_file(url, dir="."):

    p = pathlib.Path(dir, pathlib.PurePath(url).name)
    p.parent.mkdir(parents=True, exist_ok=True)

    r = requests.get(url)
    r.raise_for_status()

    with p.open(mode="wb") as fw:
        fw.write(r.content)
    return p

In [4]:
url = "https://github.com/Make-IT-TSUKUBA/alternative-tsukuba-kdb/raw/master/kdb_20210404.xlsx"

In [5]:
xlsx_path = fetch_file(url)

In [6]:
df = pd.read_excel(
    xlsx_path,
    skiprows=3,
    header=None,
    usecols=[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 17, 18, 19],
)

In [7]:
df

                0                       2   ...               18   19
0     フレッシュマン・セミナー                     NaN  ...              NaN  NaN
1             科目番号                     科目名  ...              NaN  NaN
2          1101102            フレッシュマン・セミナー  ...     フレッシュマン・セミナー  NaN
3          1101202            フレッシュマン・セミナー  ...     フレッシュマン・セミナー  NaN
4          1101302            フレッシュマン・セミナー  ...     フレッシュマン・セミナー  NaN
...            ...                     ...  ...              ...  ...
8126       XJ21332  キャリア支援日本語 上級メディアリテラシーA  ...  English Courses  NaN
8127       XJ21342  キャリア支援日本語 中級メディアリテラシーA  ...  English Courses  NaN
8128       XJ21352  キャリア支援日本語 連絡コミュニケーションA  ...  English Courses  NaN
8129       XJ22012              集中日本語D000A  ...  English Courses  NaN
8130       XJ23012              集中日本語D000B  ...  English Courses  NaN

[8131 rows x 14 columns]

In [8]:
df.to_csv("data.csv")

In [9]:
df.dropna(subset=[0], inplace=True)

In [10]:
df[20] = df[0].shift()
df[20] = df[20].where(df[0] == "科目番号").fillna(method="ffill")

In [11]:
df.notnull().sum(axis=1).value_counts()

13    3821
14    2749
10     700
3      283
12     206
15     143
11      57
9       53
2       30
4       12
1        1
dtype: int64

In [12]:
df1 = df[df[0] != "科目番号"].dropna(thresh=5)

In [13]:
df1.fillna("", inplace=True)

In [14]:
df1[10] = df1[10].apply(lambda s: "\n".join([i.strip() for i in s.strip().splitlines()]))
df1[11] = df1[11].apply(lambda s: "\n".join([i.strip() for i in s.strip().splitlines()]))

In [15]:
result = []

for d in df1.values.tolist():

    if not d[13]:
        d.pop(13)

    result.append(d)

In [16]:
with open("kdb.json", "w", encoding="utf-8") as fp:
    json.dump(result, fp, indent="\t", ensure_ascii=False)